
.form-control{
  margin-top: 10px;
}

.btn{
  margin-top: 10px;
}

.jumbotron{
  background-color: white;
}

h3{
  text-align: center;
}

.btn-search{
  margin-bottom: 10px;
}

.btn-recipe{
  margin-top: 0px
}
